:root {
    --c-primary: #183c59;
    --c-secondary: #f7dd9b;
    --c-accent: #242424;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Globals */

.c-container {
    width: 100%;
    max-width: 1600px;
    height: auto;
    position: relative;
    padding: 0 1rem;
    display: block;
    margin: auto;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    background: linear-gradient(0deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    position: relative;
    width: max-content;
}

.section-title:before {
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 50%;
    height: 0.7rem;
    background-image: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    content: "";
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.custom-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.col-x2 {
    width: calc(100% / 2);
    height: auto;
    position: relative;
}

.g-btn {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    background: linear-gradient(0deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    padding: 1.5rem;
    text-decoration: none;
    max-width: max-content;
    display: block;
    color: #242424;
    font-weight: 500;
    margin: 2rem 0 0;
}

/* header */

.h-container {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: var(--c-primary);
    border-bottom: solid 5px;
    border-image: linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162) 1;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 999;
}

.h-wrapper {
    display: flex;
    justify-content: space-between;
}

.s-logo {
    width: auto;
    position: relative;
    height: auto;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}


.s-logo i {
    font-size: 3.5rem;
    background: -webkit-linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.s-logo p {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: -webkit-linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.8rem;
}

.h-navs {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

.h-navs a {
    color: var(--c-secondary);
    font-weight: 600;
    text-decoration: none;
}

.logo-link {
    text-decoration: none;
}

/* mobile header */

.m-container {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    background: -webkit-linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index: 999;
    width: 100%;
}

.m-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-primary);
    font-size: 1.8rem;
    padding: 1rem 0;
}

/* banner */

.b-area {
    height: 100vh;
    width: 100%;
    background-image: url('./media/banner-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-area:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--c-accent);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.b-tagline {
    text-align: center;
    line-height: 3rem;
    display: block;
    position: relative;
    width: max-content;
    margin: auto;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.b-tagline:before {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 100%;
    height: 0.7rem;
    background-image: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    content: "";
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.b-tagline p {
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(0deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-tagline span {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* cta section */


.cta-container {
    width: 100%;
    height: auto;
    background-color: var(--c-primary);
    padding: 4rem 0;
    position: relative;
}

.cta-container:before {
    width: 100%;
    height: 100%;
    background-image: url('./media/section-design.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}


.cta-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    position: relative;
    z-index: 10;
}

.cta-btns {
    background: linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1rem;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: all 200ms ease-in-out;
}

.cta-btns:hover {
    transform: translateY(-10%);
}


.cta-btns__labels p {
    color: var(--c-primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.cta-btns__labels span {
    line-height: 1.5rem;
}


.cta-btns i {
    font-size: 3rem;
    color: var(--c-primary);
    margin: 0 1.3rem;
}

/* about-section */

.abt-container {
    width: 100%;
    height: auto;
    background-image: url('./media/cta-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.abt-container:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--c-accent);
    opacity: 0.6;
}

.abt-wrapper .col-x2 img {
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: 3rem;
    width: 100%;
}

.abt-wrapper .col-x2,
.ftd-row .col-x2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.abt-desc {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: white;
}

.abt-desc-bg {
    background-color: var(--c-primary);
    padding: 2rem 2rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


/* featured listing */

.ftd-container {
    width: 100%;
    height: auto;
    background-color: var(--c-accent);
    padding: 4rem 0;
    position: relative;
}

.ftd-container:before {
    width: 100%;
    height: 100%;
    background-image: url('./media/section-design.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.04;
}

.ftd-container .section-title {
    margin: 2rem auto 6rem;
}

.ftd-desc {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--c-primary);
    padding: 2rem 3rem;
    gap: 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.ftd-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--c-secondary);
    margin-bottom: 2.5rem;
}

.ftd-labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ftd-labels div {
    display: flex;
    align-items: center;
    gap: 2rem 1rem;
}

.ftd-labels div i {
    font-size: 2rem;
    background: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.ftd-labels div span {
    font-size: 1.2rem;
    color: white;
}

.ftd-row .col-x2 img {
    max-width: 630px;
    width: 100%;
    margin: auto;
    display: block;
}

.ftd-slick {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    margin: auto;
    gap: 2rem;
}

.ftd-slick i {
    font-size: 2.5rem;
    background: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ftd-slick .g-btn {
    margin: auto;
}


/* footer */

.footer-container {
    background-color: var(--c-primary);
    padding: 3rem 0;
}

.f-title {
    font-size: 1.2rem;
    background: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.f-navs,
.f-contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.f-navs li,
.f-contacts li {
    color: white;
    font-size: 1rem;
}

.f-contacts li {
    display: flex;
    gap: 1rem;
}

.f-contacts i {
    font-size: 1.3rem;
    background: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* form  */

.ipf-container {
    background-color: var(--c-accent);
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;
}

.ipf-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./media/form-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
}

.fr-wrapper {
    padding: 20vh 1rem 10vh;

}

.fd-wrapper {
    background-color: var(--c-primary);
    color: white;
}

.fd-wrapper img {
    border-bottom: solid 10px;
    border-left: solid 10px;
    border-image: linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162) 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0;
}

.fd-desc {
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.fd-desc__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    background: linear-gradient(0deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ipf-flex {
    background-color: var(--c-primary);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.form-row {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.form-row input[type=text],
.form-row select,
.form-row textarea {
    border: 0;
    border-bottom: solid 2px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5rem 1rem;
    border-image: linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162) 1;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color: white;
    height: 4rem;
    outline: none;
    font-family: 'Montserrat';
    width: 100%;
    font-size: 1rem;
}

.form-row textarea,
.form-row input[type=file] {
    border: 0;
    border-bottom: solid 2px;
    min-height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-image: linear-gradient(150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162) 1;
}

.form-row input[type=file] {
    color: transparent;
}

.form-row input::file-selector-button {
    display: none;
    opacity: 0;
}

.form-row i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 6;
    font-size: 2.5rem;
    background: linear-gradient(0deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-row option {
    background-color: var(--c-primary);
    border-radius: 0;
}

.form-row ::placeholder {
    color: white;
    opacity: 0.7;
}

.--inputx2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.ipf-flex .fd-desc__title {
    margin-bottom: 0.5rem;
}

.ipf-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 1.5rem;
    background-color: var(--c-primary);
    padding: 1rem;
    color: white;
    border-radius: 5px;
}

.--form-span {
    grid-column: span 2;
}

.form-row label {
    margin-bottom: 1rem;
    display: block;
    color: var(--c-secondary);
    font-size: 1.1rem;
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem 0;
}

.form-btn {
    text-decoration: none;
    color: var(--c-primary);
    background-color: var(--c-secondary);
    background-image: linear-gradient(-150deg, #d8b162, #eec87e, #fae5a6, #f4d289, #d8b162);
    max-width: 230px;
    width: 100%;
    padding: 1.5rem 1rem;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 2rem auto;
    transition: 500ms;
}

.form-btn:hover {
    opacity: 0.7;
}

.form-btns .form-btn {
    margin: unset;
}

@media only screen and (max-width: 991px) {

    .fr-wrapper .custom-row {
        flex-direction: column-reverse;
    }

    .h-container {
        display: none;
    }

    .custom-row {
        flex-direction: column;
    }

    .col-x2 {
        width: 100%;
    }

    .ftd-row {
        flex-direction: column-reverse;
    }

    .ftd-slick {
        margin-top: 2rem;
    }

    .m-container {
        display: grid;
    }
}

@media only screen and (max-width: 800px) {
    .cta-wrap {
        grid-template-columns: 1fr;
    }

    .--inputx2 {
        grid-template-columns: 1fr;
    }

    .ipf-grid {
        grid-template-columns: 1fr;
    }

    .--form-span {
        grid-column: unset;
    }
}

@media only screen and (max-width: 567px) {
    .b-tagline {
        line-height: 2rem;
    }

    .b-tagline p {
        font-size: 2rem;
    }

    .b-tagline span {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .fd-desc__title {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 480px) {

    .section-title {
        font-size: 1.5rem;
    }

    .ftd-desc {
        padding: 2rem 1rem;
    }
}